<!-- footer -->
{% load static %}
<script type="text/javascript" src="{% static 'js/twitter-bootstrap-hover-dropdown.min.js' %}"></script>
        <div class="navbar navbar-footer">
            <div class="container">
                <div class="row">
                    <footer role="contentinfo" >
                        <p class="left">BeriBuku</p>
                        <p class="right">&copy; 2015 <a href="http://www.meritoo.pl" target="_blank" style="color:black">FMSE, Lab.</a></p>
                    </footer>
                </div>
            </div>
        </div>