	{% include "header.html" %}
		{% load static %}
		<div class="body">
			<div class="container about-frame">			
				<div class="left col-md-3">

					<div class="second-nav">
						<ul>
							<li><a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}">Home</a></li>
							<li><a href="{% url 'program' %}"><img src="{% static 'images/program.png' %}">Proyek</a></li>
							<li class="active"><a href="{% url 'about' %}"><img src="{% static 'images/tim-active.png' %}">About</a></li>
							<li><a href="{% url 'tim' %}"><img src="{% static 'images/about.png' %}">Tim</a></li>
							<li><a href="{% url 'contact' %}"><img src="{% static 'images/contact.png' %}">Contact</a></li>
						</ul>
						{% include "developer.html" %}
					</div>
				</div>
				<div class="right-section col-md-9">
					<div class="about">
						<div class="title-page col-md-12">
							<div class="col-md-4">About US</div>
						</div>
						<div class="content" align="justify">
							<!--
							<div class="content-title">
								Tentang Beribuku
							</div>-->
							<div class="content-par" >
								Banyak hal yang bisa kita dapat dari buku
							Kebahagian, pengetahuan, cinta, cerita, dongeng, pengalaman dan masih banyak lainnya

							Karena itu sering dikatakan buku adalah  jendela dunia, apa yang kita ingin tahu bisa dengan mudah terpenuhi hanya dari sebuah buku.

							Sayang sekali, tidak semua orang terutama anak-anak mempunyai akses yang sama dalam memperoleh buku. Merupakan pilihan yang berat bagi orang tua mereka antara harus membeli sebuah buku dengan memenuhi kebutuhan rumah tangga mereka.

						   </div><br>
							<p>Beranjak dari hal yang sering luput dari perhatian tersebut lah, kami ada.</p><br>

							<p><b>Simple Act for Big Impact</b></p><br>

							<p>Mungkin kami bukan wadah sosial yang besar,  kami hanya sekumpulan pemuda-pemudi yang rindu melihat adik-adik kecil kami sibuk membolak-balikan halaman demi halaman sebuah buku hingga kusut, rindu melihat adik-adik kami sekedar menenteng buku bacaaan ditangan-tangan kecilnya, dan rindu melihat antusiasme mereka melihat tumpukan-tumpukan buku. Kami hanya rindu hal tersebut. Tidak muluk

							Dengan wadah ini kami bisa sedikit melepas kerinduan kami. “Beri beriburibu buku” merupakan tagline dan penyemangat kami. Mungkin tidak hanya seribu, langkah kami akan terus ada dan tetap ada sampai kami tidak lagi melihat batasan bagi adik-adik kecil kami dalam memperoleh sebuah bacaan. Kami yakin banyak pihak diluar sana yang mempunyai semangat yang sama bahkan lebih besar dari kami. Mari kita wujudkan bersama semangat tersebut untuk sebuah perubahan. </p><br>

							<p><b>Mulai dari kita, Mulai dari sekarang</b></p><br>

							<p><strong>BeriBuku</strong> adalah projek sosial yang peduli pada dunia pendidikan Indonesia, juga merupakan salah satu wujud cinta dan kepedulian kita untuk anak-anak yang membutuhkan buku, sehingga membuka cakrawala mereka akan ilmu pengetahuan. Banyak fasilitas ruang belajar diperuntukkan bagi mereka yang kurang mampu. Namun tahukah kalian, di balik itu fasilitas-fasilitas itu masih membutuhkan banyak buku.</p><br>

							<p>Oleh karenanya, kegiatan <strong>BeriBuku</strong> difokuskan untuk mendonasikan buku-buku bagi anak-anak usia sekolah yang ada di daerah kumuh miskin di Jakarta dan sekitarnya, sehingga anak-anak yang tinggal di daerah kumuh miskin juga bisa mendapatkan buku-buku yang berkualitas.Siapapun kita, melalui <strong>BeriBuku</strong>, bisa ikut berpartisipasi dengan menyisihkan sedikit rezeki untuk membantu pemasokan buku bagi ruang-ruang belajar tersebut. Caranya sederhana, bagi teman-teman yang ingin bergabung dengan <strong>BeriBuku</strong> dapat mendonasikan uang (transfer) yang akan kami kumpulkan untuk membeli buku. Atau dapat juga menyumbangkan buku secara langsung.</p><br>

							<p>Buku-buku yang sudah terkumpul akan kami sumbangkan ke tempat-tempat yang membutuhkan. Tempat-tempat itu antara lain terminal, stasiun, projek-projek sosial yang sudah exist yang menyediakan ruang belajar.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% include "footer.html" %}