
<!doctype html>

{% load static %}
<html>
<head>
    <title>{{title}} | BeriBuku</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/full-slider.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "1df9b28e-9bb1-46a7-9e87-f19ff970f804", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>
<body>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-548988e017c5acdb" async="async"></script>
    <div class="frame">
        <div class="header">
            <div class="first-nav">
                <div class="container">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.jpg' %}" class="img-table pull-left"></a>
                    <ul>
                        <!-- <li class="login"><a href="#" data-toggle="modal" data-target="#confirm-donate">Konfirmasi Donasi</a></li> -->
                        <li><a class="loginButton" href="{% url 'admin.login' %}">{% if login %} Halaman Admin {% else %} Login {% endif %}</a></li>
                    </ul>

                    <div id="confirm-donate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Konfirmasi Donatur</h4>
                          </div>

                          <div class="modal-body">
                            <p>Jika anda menjadi donatur dan sudah mentrasfer donasi anda untuk proyek kami yang sedang aktif  silahkan isi form berikut untuk konfirmasi</p>

                            <form enctype="multipart/form-data" action="{% url 'user.donatur.new' %}" method="POST">
                            {% csrf_token %}
                              <div class="form-group">
                                <label>Proyek</label>
                                <select name="program" class="form-control" required>
                                    {% for prg in program %}
                                    {% for donasi in prg.donasi_set.all %}
                                    {% if donasi.belum_lewat_deadline %}
                                    <option value="{{ prg.id }}"> {{ prg.nama }} </option>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                              </div>

                              <div class="form-group">
                                <label>Nama</label>
                                <input type="text" name="nama" class="form-control" placeholder="masukkan nama anda" required>
                              </div>
                                
                              <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="email" class="form-control" placeholder="masukkan email anda" required>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputAmount">No. Handphone</label>
                                <div class="input-group">
                                  <div class="input-group-addon">+62</div>
                                  <input type="text" name="nohp" class="form-control" id="exampleInputAmount" placeholder="" required>
                                </div>
                                <p class="help-block">Tulis tanpa '0' didepannya (contoh : 82232120000)</p>
                              </div>

                              <div class="form-group">
                                <label>Bukti Transfer</label>
                                <input type="file" name="buktitransfer" required>
                                <p class="help-block">Unggah file gambar dengan jenis jpg, png, atau gif</p>
                              </div>

                                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>