{% load static %}

<html>

<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<p class="test">HALOOOOOOOO</p>
</body>
</html>