	{% include "admin/header.html" %}
	{% load static %}
	<div class="col-md-10">
		
		<div class="row">
			<div class="page-header bootstrap-admin-content-title">
				<h1>{% if tim %}
						Edit Anggota
					{% else %}
						Tambah Anggota Baru
					{% endif %}</h1>
				<a href="{% url 'admin.master' %}" class="action">
					<button class="btn btn-sm btn-default">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Back
					</button>
				</a>

			</div>
		</div>

		<div class="row">
			<div class="panel panel-default bootstrap-admin-no-table-panel">
				<div class="panel-heading">
					<div class="text-muted bootstrap-admin-box-title">Anggota tim</div>					
	
				</div>
				<div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
	
		<div class="admin-content">
			<div class="newprogram">
				<div class="container" style="width:100%">
	
					{% if error %}
						<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Terdapat kesalahan dalam pengisian sebagai berikut :
						<ul>
							{% for item in error %}
							<li>{{ item }}</li>
							{% endfor %}
						</ul>
						</div>
					{% endif %}

					<form action="" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
					  	<div class="form-group">
					    	<label for="" class="col-sm-2 control-label">Nama</label>
					    	<div class="col-sm-10">
					      		<input type="text" class="form-control" name="nama" id="" placeholder="Nama" value="{{tim.nama}}" required>
					    	</div>
					  	</div>
					  	{% if tim %}
					  	<div class="form-group">

					    	<label for="" class="col-sm-2 control-label"></label>
						    	<div class="col-sm-10">
							    	<img class="img-table" src="../../{{ tim.foto }}" height="40%" width="40%">
						    	</div>
					  	</div>
					  	{% endif %}
					  	<div class="form-group">
					  		
					    	<label for="inputPassword3" class="col-sm-2 control-label">Ganti Foto <i>(optional)</i></label>
					    	<div class="col-sm-10">
					    		<input type="file" class="form-control" name="foto" id="" placeholder="" value="{{tim.foto}}" 
					    		{% if tim %}
					{% else %}
						required
					{% endif %}>
					    		<p class="help-block">Unggah file gambar dengan jenis jpg, png, atau gif</p>
					    	</div>
					  	</div>
					  	<div class="form-group">
					    	<label for="" class="col-sm-2 control-label">Jabatan</label>
					    	<div class="col-sm-10">
					      		<input type="text" name="posisi" class="form-control" id="" placeholder="posisi" value="{{tim.jabatan}}" required>
					    	</div>
					  	</div>
					  	<div class="form-group">
					    	<label for="" class="col-sm-2 control-label">Email</label>
					    	<div class="col-sm-10">
					      		<input type="text" name="email" class="form-control" id="" placeholder="email@sample.com" value="{{tim.email}}" required>
					    	</div>
					  	</div>
					  	<div class="form-group">
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-primary">
					      			{% if tim %}
					      				Simpan
					      			{% else %}
					      				Tambah
					      			{% endif %}
					      		</button>
					    	</div>
					  	</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	</div>
	</div>
	</div>
	</div>
	</div>
		{% include "admin/footer.html" %}
</body>
</html>